* {
    box-sizing: border-box;
}

html, body {
    margin: 0; padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.helper__stretchFullscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}